profiles {

    local {
        process {
            executor = 'local'
            ncpu = 24
            memory = '4 GB'
            time = '1h'
        }
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'genoa64'
            clusterOptions = '--qos=normal'
            cache = 'lenient'
            cpus = 1
            memory = '4G'
            time = '4h'
        }

        withLabel: big_mem {
            clusterOptions = '--qos=long'
            memory = '60G'
            time = '12h'
        }

        withLabel: big_cpus {
            cpus = 8
            memory = '20G'
            time = '6h'
        }
    }
}

report {
	file = 'report.html'
	enabled = true
	overwrite = true
}

timeline {
	file = 'timeline.html'
	enabled = true
	overwrite = true
}

trace {
    enabled = true
    file = 'trace.txt'
    overwrite = true
}


// Pipeline params
params {
    genefam_info  = "genefam.csv"
    infasta       = "data/input.fasta"

	// For local execution
	//pfam_db = "/home/grygoriyzolotarov/ant/xgraubove/data/pfam/Pfam-A.hmm"
    pfam_db       = "/users/asebe/xgraubove/data/pfam/Pfam-A.hmm"
    domain_expand = 30
    s1_ncpu       = 4

    search_dir    = "results/search"
    cluster_dir   = "results/clusters"
    max_n         = 2000 // maximum number of sequences in HG
	s2_ncpu       = 4
	s2_inflation  = 1.1

	//Phylogenies 
	IQTREE2_MODEL = "TEST"
	MAFFT_OPT     = "" // "--maxiterate 1000 --localpair" for LINSI mode
	TREE_METHOD   = "fasttree" // use fasttree for development, fast checks 
	//POSSVM
	REFSPECIES    = "Mmus"
	REFNAMES      = "data/Mmus_gene_names.csv"  
	//GeneRax
	SPECIES_TREE  = "data/species_tree.newick"
	NCPU_GENERAX = 8
	MAX_SPR = 5
	SUBS_MODEL = "LG"
}
